<!-- Add your content of header -->
<div class="background-color-layer" style="background-image: url('assets/images/img-01.jpg')"></div>
<main class="content-wrapper">
  <header class="white-text-container section-container">
    <div class="text-center">
      <h1>I am Nour Ben Hassen</h1>
      <p>Fullstack Web Developer</p>
    </div>
  </header>