{{> metaHeader title='Title page' description="description"}} 
{{> header }}

<!-- Add your site or app content here -->
 
 <div class="container">
   <div class="row">
     <div class="col-xs-12">

        <div class="card">
          <div class="card-block">
            <h2>About me</h2>
            <div class="row">
              <div class="col-md-4">
                <p><img src="./assets/images/img-01.jpg" class="img-responsive" alt=""></p>
              </div>
              <div class="col-md-8">

              <p>
                I am Nour Ben Hassen, Engineer graduated from EPFL (Ecole Polytechnique Fédérale de Lausanne) in 2016 and currently working as Freelance Web developer.
              </p>
              <p>
                Do not hesitate to contact me, so we can discuss about your projects.
              </p>

              <h4>Stack</h4>
              <p>ReactJS, JavaScript, HTML5, CSS3, Node</p>
 
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-block">
            <h2>Projects</h2>
            <div class="row">
              <div class="col-md-4">
                <a href="https://nourbenhassen.github.io/meme-generator/"><img src="./assets/images/img-02.jpg" class="img-responsive" alt=""></a>
                <br/>
                <h3 class="h5">Memes Generator</h3>
                <p>April 2019</p>
              </div>
              <div class="col-md-4">
                <a href="https://arcane-falls-19327.herokuapp.com/surveys"><img src="./assets/images/img-03.jpg" class="img-responsive" alt=""></a>
                <h3 class="h5">OnTrack</h3>
                <p>July 2019</p>
              </div>
              <br>
              <div class="col-md-4">
                <a href=""><img src="./assets/images/img-04.jpg" class="img-responsive" alt=""></a>
                <br><br>
                <h3 class="h5">Tic Tac Toe</h3>
                <p>April 2019</p>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-block">
            <h2>Work Experience</h2>
            <div class="work-experience">
              <small class="date">Today - March 2019</small>
              <h3 class="h5 date-title">Web developer - Freelance</h3>          
              <p>
                Working mostly on Front-end projects
                (React, Vanilla JS, HTML, CSS)
              </p>
            </div>

            <div class="work-experience">
              <small class="date">September 2019- March 2017</small>
              <h3 class="h5 date-title">Process Engineer - Nestlé</h3>
              
              <p>
                Leading European industrial projects
              </p>
            </div>
          </div>
        </div>
        

        <div class="card">
          <div class="card-block">
            <h2>Education</h2>
            <div class="row">
              <div class="col-md-4">
                <div class="education-experience">
                  <small class="date">2016</small>
                  <h3 class="h5 date-title">Master's Degree Research</h3>
                  <p>University of California, Berkeley</p>
                </div>
                
              </div>
              <div class="col-md-4">
                <div class="education-experience">
                  <small class="date">2016-2014</small>
                  <h3 class="h5 date-title">Master's Degree in Engineering</h3>
                  <p>Ecole Polytechnique Fédérale de Lausanne</p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="education-experience">
                  <small class="date">2014-2010</small>
                  <h3 class="h5 date-title">Bachelor's Degree in Engineering</h3>
                  <p>Ecole Polytechnique Fédérale de Lausanne</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="card">
          <div class="card-block">
            <h2>Spoken Languages</h2>
            <div class="row">
              <div class="col-md-4">
                <div class="Spoken Languages-experience">
                  <h3 class="h5">English  <small>Bilingual</small></h3>
                </div>
              </div>
              <div class="col-md-4">
                <div class="Spoken Languages-experience">
                  <h3 class="h5">French  <small>Bilingual</small></h3>
                </div>
              </div>
              <div class="col-md-4">
                <div class="Spoken Languages-experience">
                  <h3 class="h5">Spanish  <small>Fluent</small></h3>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-block">
            <h2>Projects</h2>
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <img src="./assets/images/img-05.jpg" class="img-responsive" alt="...">
                <div class="carousel-caption">
                  <h3 class="h5">Jules for Bastion</h3>
                  <p>2017</p>
                </div>
              </div>
              <div class="item">
                <img src="./assets/images/img-06.jpg" class="img-responsive" alt="...">
                <div class="carousel-caption">
                  <h3 class="h5">Jules for Bastion</h3>
                  <p>2017</p>
                </div>
              </div>

              <div class="item">
                <img src="./assets/images/img-08.jpg" class="img-responsive" alt="...">
                <div class="carousel-caption">
                  <h3 class="h5">Jules for Bastion</h3>
                  <p>2017</p>
                </div>
              </div>
            </div>

            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-example-generic" data-slide-to="1"></li>
              <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>

          </div>
          </div>
        </div>
        
        <div class="card">
          <div class="card-block">
            <h2>Social Network</h2>
            <div class="row">
              <div class="col-md-3">
                <p class="social-buttons"><a href="https:/github.com/nourbenhassen" title=""><span class="social-round-icon fa-icon"><i class="fa fa-github"></i></span>Nour Ben Hassen</a></p>
              </div>
              <div class="col-md-3">
                <p class="social-buttons"><a href="https://www.linkedin.com/in/nourbenhassen/" title=""><span class="social-round-icon fa-icon"><i class="fa fa-linkedin"></i></span>Nour Ben Hassen</a></p>
              </div>
              <div class="col-md-3">
                <p class="social-buttons"><a href="https://twitter.com/nourbenhassen" title=""><span class="social-round-icon fa-icon"><i class="fa fa-twitter"></i></span>@nourbenhassen</a></p>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-block">
            <h2>Contact</h2>
            <a href="mailto:nour.benhassen@gmail.com">nour.benhassen@gmail.com</a>
          </div>
        </div>
       
     </div>
   </div>
 </div>

{{> footer }}
{{> metaFooter}}
